<ul class="thumbnails">
  <div id="optionsbar">
    <% ordering_toggle %>
    <div class="btn-container">
      <% if Artwork.count > 0 %>
        <%= link_to 'Random Art', Artwork.find(Artwork.find_all_by_sold(false).map(&:id).sample), class:'btn-custom btnsort'%>
      <% else %>
        <%= link_to 'Random Art', '#', class:'btn-custom btnsort' %>
      <% end %>
    </div>
    <div class="btn-container">
      <%= link_to 'Shuffle', artworks_path(shuffle: 1), class:'btn-custom btnsort'%>
    </div>
    <div class="btn-container">
      <%= link_to @price_text, artworks_path(price: @price_order), class:'btn-custom btnsort' %>
    </div>
    <div class="btn-container">
      <%= link_to @sold_text, artworks_path(sold: @sold_order), class:'btn-custom btnsort' %>
    </div>
  </div>
    <div id="thumbs">
        <%= render 'thumbs'%>
    </div>
</ul>
<div id="paginateBottom">
  <%= paginate @artworks %>
</div>


