<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @order.name %>
</p>

<p>
  <b>Email:</b>
  <%= @order.email %>
</p>

<p>
  <b>Address line 1:</b>
  <%= @order.address_line_1 %>
</p>

<p>
  <b>Address line 2:</b>
  <%= @order.address_line_2 %>
</p>

<p>
  <b>City:</b>
  <%= @order.city %>
</p>

<p>
  <b>State:</b>
  <%= @order.state %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @order.zipcode %>
</p>

<p>
  <b>Subtotal:</b>
  <%= @order.subtotal %>
</p>

<p>
  <b>Total:</b>
  <%= @order.total %>
</p>

<p>
  <b>Delivery method:</b>
  <%= @order.delivery_method %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
