<h1 class="center">Order [<%= @artwork.title %>]</h1>

<div class="row">
  <div class="span8 offset2">
    <div class="hero-unit">
      <p>
        <b>Name:</b>
        <%= @order.name %>
      </p>

      <p>
        <b>Email:</b>
        <%= @order.email %>
      </p>

      <p>
        <b>Address:</b>
        <%= @order.address %>
      </p>

      <p>
        <h3>
          <b>Total:</b>
          $<%= @artwork.price %>
        </h3> 
      </p>


      <%= link_to 'Edit', edit_admin_order_path(@order), class: "btn btn-small" %> |
      <%= link_to 'Back', admin_artwork_path(@order.artwork), class: "btn btn-small" %>
    </div>
  </div>
</div>

