<%= form_for([:admin, @artwork]) do |f| %>
  <% if @artwork.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artwork.errors.count, "error") %> prohibited this artwork from being saved:</h2>

      <ul>
      <% @artwork.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!--   <div class="field">
    <%#= f.label :user %><br />
    <%#= f.text_field :user %>
  </div> -->
  <div>
    <h1><%#= @user.name %></h1>
  </div>  
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :medium %><br />
    <%= f.text_field :medium %>
  </div>
  <div class="actions">
    <%= f.submit "Send", class: "btn btn-large btn-primary" %>
  </div>
<% end %>

