<%= render 'shared/error_messages', object: f.object %>

<!--   <div class="field">
    <%#= f.label :user %><br />
    <%#= f.text_field :user %>
  </div> -->
  <div>
    <h2><%#= @user.id %></h2>
  </div>  

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :price %>
  <%= f.text_field :price %>

  <%= f.label :medium %>
  <%= f.text_field :medium %>

