<h1>Artworks</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Price</th>
      <th>Medium</th>
      <th>Sold?</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @artworks.each do |artwork| %>
    <tr>
      <td><%= User.find(artwork.user_id).name%></td>
      <td><%= artwork.title %></td>
      <td><%= artwork.price %></td>
      <td><%= artwork.medium %></td>
      <td><%= artwork.sold? %></td>
      <td><%= link_to 'Show', [:admin, artwork], class:"btn btn-small" %></td>
      <td><%= link_to 'Edit', edit_admin_artwork_path(artwork, artwork_id: artwork.id), class:"btn btn-small" %></td>
      <td><%= link_to 'Destroy', [:admin, artwork], confirm: 'Are you sure?', method: :delete, 
      class:"btn btn-small" %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%#= link_to 'New Artwork', new_admin_artwork_path, class: "btn btn-large" %>
