<p id="notice"><%= notice %></p>

<p>
  <b>User ID:</b>
  <%= @artwork.user %>
</p>

<p>
  <b>Title:</b>
  <%= @artwork.title %>
</p>

<p>
  <b>Price:</b>
  <%= @artwork.price %>
</p>

<p>
  <b>Medium:</b>
  <%= @artwork.medium %>
</p>


<%= link_to 'Edit', edit_artwork_path(@artwork) %> |
<%= link_to 'Back', artworks_path %>
