<h1>Editing user</h1>
<div class="row">
	<div class="span8 offset2">
		<div class="hero-unit">
			<%= form_for([:admin, @user], :html => {:multipart => true}) do |f| %>
			<%= render 'userform', f: f %>
			<%= f.submit "Submit", class: "btn btn-large btn-primary"%>
			<p>
				<%= link_to 'Show', admin_user_path(@user), class: "btn btn-small" %>
				<%= link_to 'Back', admin_user_path(@user), class: "btn btn-small" %>
			</p>
			<% end %>
		</div>
	</div>
</div>