<div class="span12">
    <div class="hero-unit">
        <h1>Listing users</h1>
        <p><h2>Admin View</h2></p>
    </div>
    <table class="table table-striped" id="users-view">
        <thead>
            <tr>
                <th></th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>School</th>
                <th>Major</th>
                <th>Bio</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @users.each do |user| %>
            <tr>
                <td>
                    <% if user.avatar? %>
                        <%= image_tag user.avatar_url(:thumb).to_s %>
                    <% end %>
                </td>
                <td><%= user.first_name %></td>
                <td><%= user.last_name %></td>
                <td><%= user.email %></td>
                <td><%= user.school %></td>
                <td><%= user.major %></td>
                <td><%= user.bio %></td>
                <td><%= link_to 'Show', [:admin, user], class: "btn btn-small" %></td>
                <td><%= link_to 'Edit', edit_admin_user_path(user), class: "btn btn-small" %></td>
                <td><%= link_to 'Delete', [:admin, user], confirm: 'Are you sure?', method: :delete, 
                        class: "btn btn-small" %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
    <%= link_to 'New User', new_admin_user_path, class: "btn btn-large"%>
</div>
