<div class="hero-unit">
  <h1><%= @user.first_name %> <%= @user.last_name %></h1>
  <p><h2>Admin View</h2></p>
  <p id="notice"><%= notice %></p>
</div>

<div class="span4">
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td><b>Email:</b></td>
        <td><%= @user.email %></td>
      </tr>  
      <tr>
        <td><b>School:</b></td>
        <td><%= @user.school %></td>
      </tr>
      <tr>
        <td><b>Major:</b></td>
        <td><%= @user.major %></td>
      </tr>
      <div>
      <tr>
        <td colspan="2"><b>Bio</b></td>
      </tr>
      <tr>
        <td colspan="2"><%= @user.bio %></td>
      </tr>
    </tbody>
  </table>
  
  <%= link_to 'Edit', edit_admin_user_path(@user), class:"btn btn-small" %> |
  <%= link_to 'Add Art', new_admin_artwork_path(@user), class:'btn btn-small' %> |
  <%= link_to 'Back', admin_users_path, class:"btn btn-small" %>
</div>

<div class="span8">

</div
