<%= form_for(:session, url: sessions_path) do |f| %>

<%= f.label :email %>
<%= f.text_field :email %>

<%= f.label :password %>
<%= f.password_field :password %>

<%= f.submit "Sign in", class: "btn btn-custom" %>
 
<label class="checkbox">
	Remember me <%= check_box_tag :remember_me, 1, params[:remember_me] %>  
</label>
<% end %>
